name: Build Binaries

on:
  push:
    branches: [ june07-nearprotocol-beta ]
  pull:
    branches: [ june07-nearprotocol-beta ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        ref: beta
    - name: Build
      run: make release
    - name: Upload a Build Artifact
      id: upload_build_artifact
      uses: actions/upload-artifact@v2
      with:
        # Artifact name
        name: target-release
        #name: binary-artifact-${{ github.sha }}
        # A file, directory or wildcard pattern that describes what to upload
        path: target/release
    - name: SSH Release Files
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        passphrase: ${{ secrets.PASSPHRASE }}
        key: ${{ secrets.SSHKEY }}
        port: ${{ secrets.PORT }}
        source: "target/release"
        target: "~/june07-nearcore-${{ github.sha }}"
